body {
    background-image: url("../img/theme.jpg");
    background-repeat: none;
    background-size: auto;
}

header {
}

header ul {
    padding-bottom: 10px;
    text-align: center;
}
header ul li {
    display: inline;
    padding-right: 30px;
    text-align: center;
}

header ul li a {
    color: white;
    text-decoration: none;
}
header ul li a:hover {}

main {}
main p {
    color: white;
}
h1 {
    color: white;
}
main div {
    color: white;
}


footer {
    background-color: #4f94bc;
}
footer p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    color: #c7d5e0;
}

input {
    background-color: white opacity:0;
}
